    h1 {
    display: flex;
    justify-content: center;
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: -4px 4px black,
                 -8px 8px black;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}
.div-buttons {
    display: flex;
    justify-content: center;
    box-shadow: -4px 4px black,
                -8px 8px black;
}

.div-buttons button {
    margin: 10px;
    box-shadow: -4px 4px black,
                -8px 8px black;
}

.dealer-side {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    margin: 0px 0px 30px 0px;
}

.dealer-hand {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    margin: 0px 0px 30px 0px;
}

.player-side {
    display: flex;
    justify-content: center;
    
}

.player-hand {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

#play {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: green;
    border-radius: 25px;
    width: 100px;
    height: 50px;   
    margin: 5px;
    font-size: 90%;
}

#restart {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: green;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    margin: 5px;
    font-size: 90%;
}

#hit {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    background-color: yellow;
    border-radius: 25px;
    width: 100px;
    height: 50px;   
    margin: 5px;
    font-size: 90%;
}

#stand {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: red;
    border-radius: 25px;
    width: 100px;
    height: 50px;  
    margin: 5px; 
    font-size: 90%;
}

body {
    background-size: cover;
    background-position: center;
}

.results-text {
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: gold;
    text-shadow: -4px 4px black,
               -8px 8px black;
}

.score {
    color: red;
    text-shadow: -4px 4px black,
                 -8px 8px black;
}

#player-score {
    color: aqua;

}

.player-text {
    color: aqua;
}



